<tr>
  <td class="comment">
    <span class="content"><%= comment.content %></span>
    <% unless comment.comments.empty? %>
      <table class="comment_list">
        <%= render :partial => 'comments/comment', :collection => comment.comments %>
      </table>
    <% end %>
    <% if current_user?(comment.user) %>
    <span>
      <%= link_to "delete", comment, :method => :destroy,
                                     :confirm => "You sure?" %>
    </span>
    <% end %>
  </td>
</tr>