<tr>
  <td class="comment">
    <span class="content"><%= comment.content %></span>
    <div class="actions">
      <% if current_user?(comment.user) %>
        <%= link_to "delete", comment, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => "Delete" %>
      <% end %>
    </div>
  </td>
</tr>