<tr>
  <td class="comment">
    <span class="content"><%= comment.content %></span>
    <% unless comment.comments.empty? %>
      <ul class="comment_list">
        <%= render 'comments/comment', :collection => comment.comments %>
      </ul>
    <% end %>
    <% if current_user?(comment.user) %>
    <span>
      <%= link_to "delete", comment, :method => :destroy,
                                     :confirm => "You sure?" %>
    </span>
    <% end %>
    <div class="actions">
      <% if current_user?(comment.user) %>
        <%= link_to "delete", comment, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => "Delete" %>
      <% end %>
    </div>
  </td>
</tr>

