<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="post">Quoi de neuf?</h1>
        <%= render 'shared/post_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
</table>