<h1>About Us</h1>
<p>
  One day, Will &amp; Jennica decided to get an internship. In Computer Science.
  <br /> This is the result.
</p>
<p>
  Special thanks goes to the following people:
  <br />1. Mr. and Mrs. Crosswell for introducing us to the world of programming,
  <br />2. Gadhi Shayban, who rocks on the keyboard,
  <br />3. Ms. Leclerc for putting up with us for so long,
  <br />4. And of course, everyone at Jack Russell Software for being so lovely and welcoming.
