<table class="front" summary="The Post">
  <tr>
    <td class="main">
      <table class="posts" summary="User posts">
          <%= render @post %>
          <span>
            <%= link_to "back", root_path %>
          </span>
      </table>
     <% unless @post.comments.empty? %>
        <table class="comments" summary="Post comments">
          <%= render :partial => 'comments/comment',
                     :collection => @post.comments %>
        </table>
      <% end %>
      <%= render 'shared/comment_form' %>
    </td>
  </tr>
</table>